
body::-webkit-scrollbar {
  width: 8px; 
}

body::-webkit-scrollbar-track {
  background: #f0f0f0;
}

body::-webkit-scrollbar-thumb {
  background-color: #888888;
}

body {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.heading {
  margin-bottom: 20px;
}
